<h1>Editing collecting unit</h1>

<%= render "form", collecting_unit: @collecting_unit %>

<br>

<div>
  <%= link_to "Show this collecting unit", @collecting_unit %> |
  <%= link_to "Back to collecting units", collecting_units_path %>
</div>
