<p class="flash-success"><%= notice %></p>

<%= render @collecting_unit %>

<div>
  <%= link_to "Edit this collecting unit", edit_collecting_unit_path(@collecting_unit) %> |
  <%= link_to "Back to collecting units", collecting_units_path %>
</div>
