@import 'bootstrap';

// UNC colors
$unc-blue: #4b9cd3;
$unc-blue-dark: #13294b;
$white: white;
$center: center;

.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-radius: 5px;
  color: $success;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 30%;
  word-wrap: anywhere;
  position: absolute;
  top: 5px;
  right: 15px;
}

#collecting-units,
#resources {
  text-align: center;
}

#collecting-units {
  table {
    margin: 25px auto auto auto;
    width: 50%;
  }
}

#job-status {
  h1 {
    margin: 25px auto 5px auto;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }
}

#job-status,
#resource-list_wrapper {
  margin: auto;
  width: 96%;
}

// Datatables CSS
#resource-list_wrapper {
  #resource-list_length,
  #resource-list_filter,
  #resource-list_filter {
    margin: 25px auto;
  }
}

#resource-list {
  .btn-danger {
    font-size: .75rem;
  }
}

.resource-update {
  margin: 25px auto 50px auto;
  text-align: left;
}

.check-all {
  margin: auto auto 10px auto;
  text-align: center;
}

.index-submit {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  form {
    margin: auto 5px;
  }
}

td.job-status {
  text-transform: capitalize;
}

/* Mostly the same as Archy CSS */
.topbar {
  background-color: $unc-blue !important;

  a {
    color: $white;
    text-decoration: none;
    padding: 0 10px;
  }

  .navbar-logo {
    width: 320px;
    height: 50px;
    background-size: cover;
    background-image: asset_url('libraries_logo_white.png');
    margin-right: 0;
    margin-top: 0;
  }

  @media (max-width: 575px) {
    .navbar-logo {
      width: 200px;
      height: 30px;
    }
  }
}

footer {
  width: 100%;
  padding: 0;
  background-color: #2f5272;
  color: $white;
  text-align: left;
  max-width: none;
  font-size: .92em;

  .row {
    --bs-gutter-x: 0;
  }
}

.footer-links {
  display: inline-flex;
  justify-content: $center;
  list-style-type: none;
  width: 95%;
  margin: auto;

  li {
    padding: 20px 10px;
  }

  a {
    --bs-link-color: $white;
    color: $white;
    text-decoration: none;
  }
}

.address {
  text-align: $center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90%;
  }
}