@import 'bootstrap';

.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-radius: 5px;
  color: $success;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 30%;
  word-wrap: anywhere;
  position: absolute;
  top: 5px;
  right: 15px;
}

#collecting-units,
#resources {
  text-align: center;
}

#collecting-units {
  table {
    margin: 25px auto auto auto;
    width: 50%;
  }
}

// Datatables CSS
#resource-list_wrapper {
  margin: auto;
  width: 96%;

  #resource-list_length,
  #resource-list_filter,
  #resource-list_filter {
    margin: 25px auto;
  }
}

.resource-update {
  margin: 25px auto 50px auto;
  text-align: left;
}

.check-all {
  margin: auto auto 10px auto;
  text-align: left;

  .btn-link {
    padding: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90%;
  }
}