<ul class="navbar-nav">
    <li class="nav-item"><a href="/">ArCHy Home</a></li>
  <li class="nav-item"><%= link_to "Collection Admin", resources_path %></li>
  <li class="nav-item"><%= link_to "Status Board", job_status_index_path %></li>
</ul>