<footer role="contentinfo">
  <div class="row">
    <ul class="col-12 footer-links">
      <li><a href="/">ArCHy Home</a></li>
      <li><%= link_to "Collection Admin", resources_path %></li>
      <li><%= link_to "Processing Status Board", job_status_index_path %></li>
    </ul>
  </div>
</footer>