<div class="row force-btn">
  <div class="col form-check form-switch">
    <input class="form-check-input" name="force_indexing" type="checkbox" id="force_indexing" aria-describedby="force_indexing_help">
    <label class="form-check-label" for="force_indexing">Force Indexing</label>
  </div>
    <div id="col force_indexing_help" class="form-text">
      By default items that have been indexed more recently in Archy than in ArchivesSpace will be skipped. Enabling the
      "Force" option will override this behavior.
    </div>
</div>