<div class="row check-all">
  <div class="col">
    <button type="button" class="btn btn-link check-all-resources">
      Check All
    </button>
    <button type="button" class="btn btn-link clear-all-resources">
      Uncheck All
    </button>
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#selectedResources">
      View list of collections selected for indexing
    </button>
  </div>
</div>