<div class="modal fade" id="selectedResources" tabindex="-1" aria-labelledby="selectedResourcesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="selectedResourcesLabel">EAD selected for Indexing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="selected-resources" class="table table-striped">
          <thead class="table-light">
          <tr>
            <th scope="col">Aspace Id</th>
            <th scope="col">Collection Id</th>
            <th scope="col">Collection Name</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
